@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-pure-white font-outfit;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}